In [1]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [2]:
import numpy as np
import pandas as pd
import datetime as datetime

# Reflect Tables into SQLAlchemy ORM

In [3]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import inspect

In [4]:
# create engine to hawaii.sqlite
engine = create_engine("sqlite:///Resources/hawaii.sqlite")

In [5]:
# reflect an existing database into a new model
Base = automap_base()

# reflect the tables
Base.prepare(autoload_with=engine)

In [6]:
# View all of the classes that automap found
Base.classes.keys()

['measurement', 'station']

In [7]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [8]:
# Create our session (link) from Python to the DB
session = Session(engine)

# Exploratory Precipitation Analysis

In [9]:
# Find the most recent date in the data set.
most_recent_date = session.query(func.max(Measurement.date)).scalar()

print(most_recent_date)

2017-08-23

In [10]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
# Starting from the most recent data point in the database. 

# Calculate the date one year from the last date in data set.
one_year = dt.date(2017,8,23)-dt.timedelta(days=365)
one_year
# Perform a query to retrieve the date and precipitation scores
precipation_scores = session.query(Measurement.date,Measurement.prcp)\
.filter(Measurement.date>=one_year).all()
precipation_scores
# Save the query results as a Pandas DataFrame. Explicitly set the column names
precipation_scores_df = pd.DataFrame(precipation_scores)

# Sort the dataframe by date
precipation_scores_df = precipation_scores_df.sort_values('date')
precipation_scores_df
# Use Pandas Plotting with Matplotlib to plot the data
precipation_scores_df.plot(x='date', y='prcp',rot=45)
plt.title("Precipitation Scores")
plt.xlabel("Date")
plt.ylabel("Precipitation")
plt.show()

NameError: name 'dt' is not defined

In [ ]:
# Use Pandas to calculate the summary statistics for the precipitation data
precipation_scores_df.describe()

# Exploratory Station Analysis

In [ ]:
# Design a query to calculate the total number of stations in the dataset
total_stations = session.query(func.count(Station.station)).scalar()
total_stations

In [ ]:
# Design a query to find the most active stations (i.e. which stations have the most rows?)
# List the stations and their counts in descending order.
most_active_stations = session.query(Measurement.station,func.count(Measurement.station))\
.group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()
most_active_stations

In [ ]:
# Using the most active station id from the previous query, calculate the lowest, highest, and average temperature.
temperature_stats = session.query(
    func.min(Measurement.tobs),
    func.max(Measurement.tobs),
    func.avg(Measurement.tobs)
).filter(Measurement.station == 'USC00519281').all()
#Print results
temperature_stats

In [ ]:
# Using the most active station id
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
#one_year
temperature_data = session.query(Measurement.date, Measurement.tobs)\
    .filter(Measurement.station == 'USC00519281')\
    .filter(Measurement.date >= one_year).all()
temperature_data
dates, temperatures = zip(*temperature_data)

plt.hist(temperatures, bins=12, label='TOBS')
plt.xlabel('Temperature (Â°F)')
plt.ylabel('Frequency')
plt.legend()
plt.show()

# Close Session

In [ ]:
# Close Session
session.close()